<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/style/style.css" th:href="@{/style/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background-color: #f7f9f8;">
<nav class="navbar navbar-dark bg-dark" style="z-index: 999999;">
    <h3 class="navbar-brand"><span style="font-weight: bold" th:text="${userName.getName()}"></span> with roles: <span th:text="${roleUser}"/></h3>
    <div th:insert="~{/main/logout :: keyLogout}"></div>
</nav>

<div class="col-2 sidenav" style="background-color: white;">
    <div class="nav flex-column nav-pills">
        <a class="nav-link" th:href="@{main/admin}">Admin</a>
        <a class="nav-link active disabled" th:href="@{/main}">User</a>
    </div>
</div>

<div class="container main">
    <h1>User information-page</h1>
    <div class="card">
        <h5 class="card-header">About user</h5>
        <table class="table table-striped" style="max-width: 98%; margin: 1%;">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i : ${authUser}">
                <td th:text="${i.id_user}"/>
                <td th:text="${i.firstName}"/>
                <td th:text="${i.lastName}"/>
                <td th:text="${i.age}"/>
                <td th:text="${i.login}"/>
                <td th:text="${roleUser}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>